<div class="navbar-wrap">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">{{ title }}</h1>

  <div class="nav-items">
  


    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <a href="#" (click)="open($event)" class="nav-link">
        <div class="avatar"><img src="assets/img/GestionSolicitudes.gif" width="40" height="40" alt=""></div>
        <div class="name" style="text-transform: capitalize;font-weight: bold;">{{nombre}} {{apellido}}</div>
      </a>

      <div class="dropdown-menu mini-menu">
        <ul>
          <li>
            <a (click)="cerrar()"><span class="icon sli-logout"></span>Salir</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div> 